<div class="flex flex-col items-center">
    <div class="w-full flex items-center justify-between">
        <div class="h-full"></div>

        <div class="flex items-center gap-2">
            <button mat-icon-button color="primary" (click)="printDocument()">
                <span class="material-symbols-rounded">
                    edit
                </span>
            </button>
            <button mat-icon-button color="primary" (click)="printDocument()">
                <span class="material-symbols-rounded">
                    print
                </span>
            </button>
        </div>
    </div>

    <div class="w-[60dvw] max-w-[1440px]  bg-white rounded-2xl shadow-2xl" style="padding: 5rem 3rem 3rem 2rem">
        <div id="documento" class="flex flex-col gap-6t ext-[var(--mat-sys-on-background)]">
            <h1 class="font-bold text-center mb-8" style="font-size: 2.4rem;">Anamnese Infantil</h1>

            <div class="">
                <h2 class="mb-6 text-xl font-bold text-[var(--mat-sys-primary)]">Cabeçalho</h2>
                <p>Data: <strong>01/01/2023</strong></p>
                <div class="w-full grid grid-cols-2 items-center gap-4">
                    <p>Entrevistado(a): <strong>João da Silva</strong></p>
                    <p>Avaliador: <strong>Maria Oliveira</strong></p>
                </div>
            </div>

            <div class="">
                <h2 class="mb-6 text-xl font-bold text-[var(--mat-sys-primary)]">Identificação da Criança</h2>
                <div class="grid grid-cols-2 gap-4 w-full">
                    <div class="grid grid-rows-3 col-span-1">
                        <p>Nome: <strong>Ana Clara Santos</strong>,</p>
                        <p>Idade: <strong>8 anos</strong>,</p>
                        <p>Data de nascimento: <strong>15/05/2015</strong>,</p>
                    </div>

                    <div class="grid grid-rows-3 col-span-1">
                        <p>CPF: <strong>123.456.789-00</strong>,</p>
                        <p>Endereço: <strong>Rua das Flores, 123, Bairro Jardim</strong>.</p>
                    </div>
                </div>
            </div>



            <div class="mt-8 flex flex-col">
                <h2 class="mb-6 text-xl font-bold text-[var(--mat-sys-primary)]">Termo de Veracidade</h2>
                <p>Eu, Declaro que os dados desta anamnese são verdadeiros e foram fornecidos por mim e pelos demais
                    informantes
                    citados anteriormente.</p>

                <div class="w-full items-center flex justify-center">
                    <div class="w-[80%] text-center">
                        <div style="height: 40px;"></div>
                        <hr>
                        <strong>José Santos</strong>, CPF: <strong>123.456.789-00</strong>
                    </div>
                </div>
            </div>

            <div class="mt-8 flex flex-col">
                <h2 class="mb-6 text-xl font-bold text-[var(--mat-sys-primary)]">Profissional executante</h2>

                <div class="w-full items-center flex justify-center">
                    <div class="w-[80%] text-center">
                        <div style="height: 40px;"></div>
                        <hr>
                        <strong>Gersielio dos Santos Ferreira</strong>, <strong>Psicologo CRP10/07214</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
