<div class="flex items-center justify-center min-h-screen degrade-background">
  <div class="w-full max-w-sm bg-[var(--mat-sys-surface)] p-4 rounded-xl shadow-lg">

    <div class="w-full flex items-center justify-center">
      <div class="h-[56px] aspect-square flex flex-col items-center justify-center rounded-full text-white">
        <span class="material-symbols-rounded">
          account_circle
        </span>
      </div>
    </div>

    <h2 class="text-center text-xl font-bold text-[var(--mat-sys-on-surface)] mb-1">Sistema de Anamnese</h2>
    <p class="text-center text-sm text-[var(--mat-sys-on-surface)] mb-6">Faça login para acessar o sistema.</p>

    <form class="flex flex-col gap-4 ">
      <mat-form-field appearance="outline" class="custom no_hint">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="seu@email.com" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom no_hint">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="********" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="signIn()" class="w-full mb-4">
        <mat-icon class="mr-2">login</mat-icon>
        Entrar
      </button>

      <p class="text-center text-xs text-[var(--mat-sys-on-surface)]">
        Use admin&#64;example.com e "password" para testar.
      </p>
    </form>
  </div>
</div>
