<div class="flex justify-between items-center mb-6 box-border">
  <h1 class="text-2xl font-bold text-[var(--mat-sys-primary)]">Dashboard</h1>
  <button routerLink="/admin/form" mat-raised-button color="primary">Nova Anamnese</button>
</div>

<p class="text-gray-500 mb-4">Gerencie e visualize todas as anamneses cadastradas.</p>

<mat-form-field appearance="outline" class="w-full max-w-md custom no_hint mb-4">
  <mat-label>Buscar por nome ou CPF...</mat-label>
  <input matInput>
</mat-form-field>

<div class="w-full bg-transparent rounded-lg p-8 text-center box-border" style="border: var(--main-border);">

  <div class="text-5xl text-[var(--mat-sys-secondary)] mb-4">
    <span class="material-symbols-rounded">
      description
    </span>
  </div>

  <h2 class="text-lg font-semibold mb-2 text-[var(--mat-sys-on-background)]">Nenhuma anamnese encontrada</h2>
  <p class="text-gray-500 mb-4">Você ainda não possui anamneses cadastradas ou nenhuma corresponde à sua busca.</p>
  <button routerLink="/admin/form" mat-raised-button color="primary">Criar primeira anamnese</button>
</div>
