<div class="flex justify-between items-center mb-6 box-border">
  <h1 class="text-2xl font-bold text-[var(--mat-sys-primary)]">Anaminese</h1>
</div>

<div class="flex flex-col gap-4 box-border">

  <div
    class="w-full flex flex-col gap-4 bg-[var(--mat-sys-surface)] rounded-2xl p-6 box-border text-[var(--mat-sys-on-surface)]"
    style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);">
    <span class="mb-4 font-bold" style="font-size: 1rem;">Cabeçalho</span>


    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-1 md:col-span-2">
        <mat-form-field appearance="outline" class="w-full custom no_hint">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="Data">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Entrevistado(a) -->
      <div class="col-span-1 md:col-span-2">
        <mat-form-field appearance="outline" class="w-full custom no_hint">
          <mat-label>Entrevistado(a)</mat-label>
          <input matInput placeholder="Entrevistado(a)">
        </mat-form-field>
      </div>
      <!-- Avaliador -->
      <div class="col-span-1 md:col-span-2">
        <mat-form-field appearance="outline" class="w-full custom no_hint">
          <mat-label>Avaliador</mat-label>
          <input matInput placeholder="Avaliador">
        </mat-form-field>
      </div>
    </div>

  </div>

  <mat-accordion>
    <!-- Acordeão: Identificação da Criança -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Identificação da Criança</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <span class="font-bold mb-4 text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Identificação</span>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <!-- Nome da criança -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Nome da criança</mat-label>
                <input matInput placeholder="Nome da criança">
              </mat-form-field>
            </div>
            <!-- Idade -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Idade</mat-label>
                <input matInput placeholder="Idade">
              </mat-form-field>
            </div>
            <!-- Data de nascimento -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Data de nascimento">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- CPF -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="CPF">
              </mat-form-field>
            </div>
            <!-- Endereço -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Endereço</mat-label>
                <input matInput placeholder="Endereço">
              </mat-form-field>
            </div>
          </div>

          <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]"
            style="font-size: 0.8rem;">Contatos</span>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-6">

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Telefone residencial</mat-label>
                <input matInput placeholder="Telefone residencial">
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Celular da mãe</mat-label>
                <input matInput placeholder="Celular da mãe">
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Celular do pai</mat-label>
                <input matInput placeholder="Celular do pai">
              </mat-form-field>
            </div>
          </div>


          <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]"
            style="font-size: 0.8rem;">Religião</span>

          <div class="grid grid-cols-1 md:grid-cols-4 gap-6">

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Religião</mat-label>
                <input matInput placeholder="Religião">
              </mat-form-field>
            </div>
          </div>

          <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Acompanhamento
            Médico</span>

          <div class="mt-4 grid grid-cols-1 md:grid-cols-4 gap-6">

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Possui acompanhamento médico?</mat-checkbox>
            </div>
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Nome do médico</mat-label>
                <input matInput placeholder="Nome do médico">
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Telefone do médico</mat-label>
                <input matInput placeholder="Telefone do médico">
              </mat-form-field>
            </div>
            <!-- Faz uso de medicação -->
            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Faz uso de medicação?</mat-checkbox>
            </div>
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Qual</mat-label>
                <input matInput placeholder="Qual">
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Frequência</mat-label>
                <input matInput placeholder="Frequência">
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Dados Familiares</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <span class="mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Dados do Pai</span>

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Nome do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Nome do pai</mat-label>
                <input matInput placeholder="Nome do pai">
              </mat-form-field>
            </div>
            <!-- Grau de instrução do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Grau de instrução</mat-label>
                <input matInput placeholder="Grau de instrução">
              </mat-form-field>
            </div>
            <!-- Profissão do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Profissão</mat-label>
                <input matInput placeholder="Profissão">
              </mat-form-field>
            </div>
            <!-- Idade do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Idade</mat-label>
                <input matInput placeholder="Idade">
              </mat-form-field>
            </div>
            <!-- Naturalidade do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Naturalidade</mat-label>
                <input matInput placeholder="Naturalidade">
              </mat-form-field>
            </div>
            <!-- Estado civil do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Estado civil</mat-label>
                <input matInput placeholder="Estado civil">
              </mat-form-field>
            </div>
          </div>

          <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Dados da
            Mãe</span>

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Nome da mãe -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Nome da mãe</mat-label>
                <input matInput placeholder="Nome da mãe">
              </mat-form-field>
            </div>
            <!-- Grau de instrução da mãe -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Grau de instrução</mat-label>
                <input matInput placeholder="Grau de instrução">
              </mat-form-field>
            </div>
            <!-- Profissão da mãe -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Profissão</mat-label>
                <input matInput placeholder="Profissão">
              </mat-form-field>
            </div>
            <!-- Idade da mãe -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Idade</mat-label>
                <input matInput placeholder="Idade">
              </mat-form-field>
            </div>
            <!-- Naturalidade da mãe -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Naturalidade</mat-label>
                <input matInput placeholder="Naturalidade">
              </mat-form-field>
            </div>
            <!-- Estado civil da mãe -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Estado civil</mat-label>
                <input matInput placeholder="Estado civil">
              </mat-form-field>
            </div>

          </div>

          <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Demais
            Dados</span>

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Religião dos pais -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Religião dos pais</mat-label>
                <input matInput placeholder="Religião dos pais">
              </mat-form-field>
            </div>
            <!-- Situação conjugal -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Situação conjugal</mat-label>
                <input matInput placeholder="Situação conjugal">
              </mat-form-field>
            </div>
            <!-- Irmãos (nome e idade) -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Irmãos (nome e idade)</mat-label>
                <textarea matInput placeholder="Irmãos (nome e idade)"></textarea>
              </mat-form-field>
            </div>
            <!-- Ambiente familiar -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Como é o ambiente familiar?</mat-label>
                <textarea matInput placeholder="Como é o ambiente familiar?"></textarea>
              </mat-form-field>
            </div>
            <!-- Com quem a criança costuma ficar -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Com quem a criança costuma ficar?</mat-label>
                <textarea matInput placeholder="Com quem a criança costuma ficar?"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Queixa / Motivo da Consulta</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <!-- <span class="mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Dados do Pai</span> -->

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Nome do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Desde quando há o problema?</mat-label>
                <input matInput placeholder="Desde quando há o problema?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Já procurou outros esoecialista? Quais??</mat-label>
                <input matInput placeholder="Já procurou outros esoecialista? Quais??">
              </mat-form-field>
            </div>


            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Está atualmente fazendo algum tipo de tratamento?</mat-label>
                <input matInput placeholder="Está atualmente fazendo algum tipo de tratamento?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Por quê?</mat-label>
                <textarea matInput placeholder="Por quê?"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Escolarização</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <!-- <span class="mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Dados do Pai</span> -->

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Nome do pai -->
            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Escola</mat-label>
                <input matInput placeholder="Escola">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Série</mat-label>
                <input matInput placeholder="Série">
              </mat-form-field>
            </div>


            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Turno</mat-label>
                <input matInput placeholder="Turno">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Nome do professor</mat-label>
                <input matInput placeholder="Nome do professor">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>A criança gosta de ir à escola?</mat-label>
                <textarea matInput placeholder="A criança gosta de ir à escola?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>É bem aceita pelos amigos ou é isolada?</mat-label>
                <textarea matInput placeholder="É bem aceita pelos amigos ou é isolada?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Já repetiu alguma série?</mat-checkbox>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Por quê?</mat-label>
                <textarea matInput placeholder="Por quê?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Gosta de Estudar?</mat-label>
                <input matInput placeholder="Gosta de Estudar?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Tem o hábito da leitura?</mat-label>
                <input matInput placeholder="Tem o hábito da leitura?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Faz as lições?</mat-label>
                <input matInput placeholder="Faz as lições?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Os Pais estudam com a criança?</mat-label>
                <input matInput placeholder="Os Pais estudam com a criança?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Desempenho em matemática?</mat-label>
                <textarea matInput placeholder="Desempenho em matemática?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Tem dificuldades de leitura e escrita?</mat-label>
                <textarea matInput placeholder="Tem dificuldades de leitura e escrita?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>É irriquieta na escola?</mat-label>
                <textarea matInput placeholder="É irriquieta na escola?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Em que circunstâncias/ Frequência?</mat-label>
                <textarea matInput placeholder="Em que circunstâncias/ Frequência?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quais as dificuldades enfrentadas na escola?</mat-label>
                <textarea matInput placeholder="Quais as dificuldades enfrentadas na escola?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>O que os professores relatam sobre o comportamento da criança?</mat-label>
                <textarea matInput
                  placeholder="O que os professores relatam sobre o comportamento da criança?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Outras observações?</mat-label>
                <textarea matInput placeholder="Outras observações?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>A criança recebe orientação quanto aos deveres de casa?</mat-checkbox>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quem Oferece??</mat-label>
                <input matInput placeholder="Quem Oferece??">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Durante quanto tempo?</mat-label>
                <input matInput placeholder="Durante quanto tempo?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>A criança já estudou antes em outra escola?</mat-checkbox>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Qual?</mat-label>
                <textarea matInput placeholder="Qual?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Motivo da transferência?</mat-label>
                <input matInput placeholder="Motivo da transferência?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Teve problemas em se adaptar á escola?</mat-checkbox>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quais?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>





          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Histórico Gestacional</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <!-- <span class="mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Dados do Pai</span> -->

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Nome do pai -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Gestação / Expectativas?</mat-label>
                <textarea matInput placeholder="Gestação / Expectativas?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Fez transfusão de sangue?</mat-label>
                <input matInput placeholder="Fez transfusão de sangue?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Levou algum tombo?</mat-label>
                <input matInput placeholder="Levou algum tombo?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Doença durante a gravidez?</mat-label>
                <input matInput placeholder="Doença durante a gravidez?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Cesariana / Normal?</mat-label>
                <input matInput placeholder="Cesariana / Normal?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Peso?</mat-label>
                <input matInput placeholder="Peso?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Estatura?</mat-label>
                <input matInput placeholder="Estatura?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Condições de Saúde da Mãe?</mat-label>
                <input matInput placeholder="Condições de Saúde da Mãe?">
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-2">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Conflitos / Episódios marcantes na gestação?</mat-label>
                <input matInput placeholder="Conflitos / Episódios marcantes na gestação?">
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Línguagem e Desenvolvimento</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <!-- <span class="mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Dados do Pai</span> -->

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Nome do pai -->
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Andou com quantos anos?</mat-label>
                <textarea matInput placeholder="Gestação / Expectativas?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <div class="flex flex-col gap-2">
                <mat-checkbox>Engatinhou?</mat-checkbox>
                <mat-checkbox>Controle de Esfincteres?</mat-checkbox>
                <mat-checkbox>Controle de Enurese?</mat-checkbox>
                <mat-checkbox>Controle de Encoprese?</mat-checkbox>
              </div>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Falou com quantos anos?</mat-label>
                <textarea matInput placeholder="Gestação / Expectativas?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <div class="flex flex-col gap-2">
                <mat-checkbox>Apresenta Gagueira?</mat-checkbox>
                <mat-checkbox>Choro Frequente?</mat-checkbox>
                <mat-checkbox>Possui reações alérgicas?</mat-checkbox>
              </div>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quais?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Bronquite ou asma?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Problemas de visão?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Problemas Auditivos?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Cefaléia / Dor de cabeça?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Já desmaiou alguma vez?</mat-checkbox>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quando?</mat-label>
                <textarea matInput placeholder="Quando?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Como foi?</mat-label>
                <textarea matInput placeholder="Como foi?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Teve ou tem convulsões?</mat-label>
                <textarea matInput placeholder="Teve ou tem convulsões?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Alguém na família com convulsões/desmaios?</mat-label>
                <textarea matInput placeholder="Alguém na família com convulsões/desmaios?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Observações?</mat-label>
                <textarea matInput placeholder="Observações?"></textarea>
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <!-- Acordeão: Desenvolvimento Psicomotor -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Desenvolvimento Psicomotor</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Como era como bebê?</mat-label>
                <textarea matInput placeholder="Como era como bebê?"></textarea>
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-4">
              <div class="flex flex-col">
                <mat-checkbox>É lento para realizar alguma tarefa?</mat-checkbox>
                <mat-checkbox>Veste-se sozinho?</mat-checkbox>
                <mat-checkbox>Toma banho sozinho?</mat-checkbox>
                <mat-checkbox>Calça-se sozinho?</mat-checkbox>
                <mat-checkbox>Sabe dar nó nos calçados?</mat-checkbox>
                <mat-checkbox>É desastrado?</mat-checkbox>
              </div>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Pratica esportes?</mat-checkbox>
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quais?</mat-label>
                <textarea matInput placeholder="Quais?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Chupa o dedo?</mat-checkbox>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <!-- Acordeão: Antecedentes Patológicos -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Antecedentes Patológicos</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Condições do nascimento</mat-label>
                <textarea matInput placeholder="Condições do nascimento"></textarea>
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Teve alguma doença?</mat-checkbox>
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Qual?</mat-label>
                <textarea matInput placeholder="Qual?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Já foi submetido a cirurgia, internação?</mat-checkbox>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Qual?</mat-label>
                <textarea matInput placeholder="Qual?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Quando?</mat-label>
                <textarea matInput placeholder="Quando?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Por quê?</mat-label>
                <textarea matInput placeholder="Por quê?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-checkbox>Tem alguma doença atualmente?</mat-checkbox>
            </div>
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Qual?</mat-label>
                <textarea matInput placeholder="Qual?"></textarea>
              </mat-form-field>

            </div>
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Está sendo tratado?</mat-label>
                <textarea matInput placeholder="Está sendo tratado?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Teve perdas importantes, mortes ou abandonos?</mat-label>
                <textarea matInput placeholder="Teve perdas importantes, mortes ou abandonos?"></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Alcoolismo e/ou drogas na família?</mat-label>
                <textarea matInput placeholder="Alcoolismo e/ou drogas na família?"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <!-- Acordeão: Sono -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">Sono</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col items-center w-full">
        <form class="flex flex-col w-full" action="">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="col-span-1 md:col-span-4">
              <div class="flex flex-col gap-4">
                <mat-checkbox>Medo de dormir?</mat-checkbox>
                <mat-checkbox>Sonambulismo?</mat-checkbox>
                <mat-checkbox>Terrores Noturnos?</mat-checkbox>
                <mat-checkbox>Hipersonia?</mat-checkbox>
                <mat-checkbox>Pesadelos?</mat-checkbox>
                <mat-checkbox>Insônia?</mat-checkbox>
                <mat-checkbox>Dorme sozinha(o)?</mat-checkbox>
              </div>
            </div>
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Com quem?</mat-label>
                <textarea matInput placeholder="Com quem?"></textarea>
              </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-4">
              <mat-form-field appearance="outline" class="w-full custom no_hint">
                <mat-label>Observações</mat-label>
                <textarea matInput placeholder="Observações"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

  <div
    class="w-full flex flex-col gap-4 bg-[var(--mat-sys-surface)] rounded-2xl p-6 box-border text-[var(--mat-sys-on-surface)]"
    style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);">
    <span class="mb-4 font-bold" style="font-size: 1rem;">Termo de veracidade das
      informações</span>
    <span>Eu,</span>



    <div class="grid grid-cols-4 gap-4 items-center">

      <div class="col-span-1 md:col-span-2">
        <mat-form-field appearance="outline" class="w-full custom no_hint">
          <mat-label>Nome do responsável</mat-label>
          <input matInput placeholder="Nome do responsável">
        </mat-form-field>
      </div>


      <div class="col-span-1 md:col-span-2">
        <mat-form-field appearance="outline" class="w-full custom no_hint">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF">
        </mat-form-field>
      </div>
    </div>

    <span>declaro que os dados desta anamnese são verdadeiros e foram fornecidos por mim e pelos demais informantes
      citados anteriormente.
    </span>

    <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Assinatura</span>

    <div
      class="w-full flex items-center justify-center border border-solid border-[var(--mat-sys-outline)] rounded-xl py-10 px-4 box-border">
      <span>Campo disponível apenas durante a impressão</span>
    </div>

  </div>

  <div
    class="w-full flex flex-col gap-4 bg-[var(--mat-sys-surface)] rounded-2xl p-6 box-border text-[var(--mat-sys-on-surface)]"
    style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);">
    <span class="mb-4 font-bold" style="font-size: 1rem;">Profissional Executante</span>

    <span class="mt-[4dvh] mb-4 font-bold text-[var(--mat-sys-primary)]" style="font-size: 0.8rem;">Assinatura</span>
    <div
      class="w-full flex items-center justify-center border border-solid border-[var(--mat-sys-outline)] rounded-xl py-10 px-4 box-border">
      <span>Campo disponível apenas durante a impressão</span>
    </div>



  </div>
</div>
